
.large-background-holder-left {
  position:         fixed;
  top:              50%;
  left:             0;
  width:            133.333333333vh;
  max-width:        100%;
  min-width:        calc(50vw - 66.666666667vh);

  z-index:          -3;
  transform:        translateY(-50%);

  background-color: rgba(0, 0, 0, 0.5);

  overflow:         hidden;
}

.large-background-holder-right {
  position:         fixed;
  top:              50%;
  right:            0;
  width:            133.333333333vh;
  max-width:        100%;
  min-width:        calc(50vw - 66.666666667vh);

  z-index:          -3;
  transform:        translateY(-50%);

  background-color: rgba(0, 0, 0, 0.5);

  overflow:         hidden;
}

.large-background-holder-bottom {
  position:         fixed;
  bottom:           0;
  left:             50%;
  width:            100%;
  min-width:        calc(133.33333333vh - 100%);
  max-width:        133vh;

  z-index:          -2;
  transform:        translateX(-50%);

  background-color: rgba(0, 0, 0, 1);

  overflow:         hidden;
}

.background-blur {
  filter: brightness(60%) blur(1em);
}

.background-holder {
  position:         fixed;
  top:              0;
  left:             50%;
  width:            100%;
  max-width:        133.333333333vh;

  z-index:          -1;
  transform:        translateX(-50%);
  box-shadow:       0 0 2em rgba(0, 0, 0, 0.5);

  background-color: black;
}

.background-margin-hack {
  margin-bottom: 75%;
  height:        0;
  overflow:      visible;
}

.background-image-holder {
  position:         absolute;
  top:              0;
  left:             0;
  right:            0;
  bottom:           0;
  overflow:         hidden;
  background-color: black;
}

.background-image {
  position: absolute;
  width:    100%;
}

/* can we have a fade-out affect with the text, so that it scrolls offscreen before reaching the very top of the page? */
/*.window {*/
/*  position:         absolute;*/
/*  top:              0;*/
/*  height:           100vh;*/
/*  width:            100vw;*/

/*  background-color: red;*/

/*  mask:             url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAIAAADdv/LVAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAGdYAABnWARjRyu0AAAASSURBVBhXYwCB////M/z//x8AF/QF+xwHbbUAAAAASUVORK5CYII=');*/
/*  mask-mode:        luminance;*/
/*  mask-repeat:      no-repeat;*/
/*  !*mask-size:        cover;*!*/
/*  mask-position:    center;*/
/*  overflow:         auto;*/
/*  mask-size:        100% 100%;*/
/*}*/

.text-area {
  width:     calc(100%);
  max-width: calc(133.33333333vh);
  margin:    auto;
}

.text {
  margin:      0 12%;

  color:       white;
  font-size:   1em;
  line-height: 1.4;

  text-shadow: 0 0 0.125em #343837, 0 0 0.125em #343837, 0 0 0.25em #000, 0 0 0.25em #000, 0 0 0.5em #000, 0 0 0.5em #000, 0 0 1em #000, 0 0 1em #000;
}

@media only screen and (min-width: 800px) and (min-height: 600px)  {
  .text {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1000px) and (min-height: 750px) {
  .text {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1200px) and (min-height: 900px)  {
  .text {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1400px) and (min-height: 1050px)  {
  .text {
    font-size: 1.4em;
  }
}

/*@media only screen and (min-width: 1600px)  {*/
/*  .text {*/
/*    font-size: larger;*/
/*  }*/
/*}*/
