/* can we have a fade-out affect with the text, so that it scrolls offscreen before reaching the very top of the page? */
/*.window {*/
/*  position:         absolute;*/
/*  top:              0;*/
/*  height:           100vh;*/
/*  width:            100vw;*/

/*  background-color: red;*/

/*  mask:             url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAIAAADdv/LVAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAGdYAABnWARjRyu0AAAASSURBVBhXYwCB////M/z//x8AF/QF+xwHbbUAAAAASUVORK5CYII=');*/
/*  mask-mode:        luminance;*/
/*  mask-repeat:      no-repeat;*/
/*  !*mask-size:        cover;*!*/
/*  mask-position:    center;*/
/*  overflow:         auto;*/
/*  mask-size:        100% 100%;*/
/*}*/

.text-area {
  width:      100%;
  max-width:  133.33333333vh;
  margin:     auto;
  overflow:   hidden;
  transition: opacity 0.2s ease-out;
}

.text-area[hide] {
  opacity: 0.5;
}

.text {
  margin:      0 12%;

  color:       white;
  line-height: 1.4;

  text-shadow: 0 0 0.125em #343837, 0 0 0.125em #343837, 0 0 0.25em #000, 0 0 0.25em #000, 0 0 0.5em #000, 0 0 0.5em #000, 0 0 1em #000, 0 0 1em #000;
}

.resizable-text {
  font-size: 1em;
}

@media only screen and (min-width: 800px) and (min-height: 600px) {
  .resizable-text {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1000px) and (min-height: 750px) {
  .resizable-text {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1200px) and (min-height: 900px) {
  .resizable-text {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1400px) and (min-height: 1050px) {
  .resizable-text {
    font-size: 1.4em;
  }
}

.click-to-start {
  display:          block;
  position:         fixed;
  top:              0;
  left:             0;
  right:            0;
  bottom:           0;
  background-color: rgba(34, 34, 34, 0.6);
  transition:       opacity 0.2s ease-out;
}

.click-to-start[hide] {
  opacity:        0;
  pointer-events: none;
}

.click-to-start > div {
  margin:      50vh auto 0;
  font-size:   180%;
  text-align:  center;
  color:       black;
  font-weight: 600;
  text-shadow: 0 0 0.125em #777, 0 0 0.125em #777, 0 0 0.25em #aaa, 0 0 0.25em #aaa, 0 0 1em #777, 0 0 1em #777, 0 0 2em #333, 0 0 2em #333;
  transform:   translateY(-50%);
}

.click-to-start > div > div {
  margin-bottom: 1em;
  font-size:     220%;
}

.click-to-start > div:first-child {
  display: block;
}

.click-to-start > div:last-child {
  display: none;
}

@media (pointer: coarse) {
  .click-to-start > div:first-child {
    display: none;
  }

  .click-to-start > div:last-child {
    display: block;
  }
}
