.graph-arrows-svg {
  position:       absolute;
  top:            0;
  bottom:         0;
  left:           0;
  right:          0;
  pointer-events: none;
  z-index:        2;
  opacity:        1;
  transition:     opacity 0.2s ease-in;
}

.graph-arrows-svg[updating] {
  opacity: 0;
  transition:     opacity 0.2s ease-out;
}

.graph-svg-line {
  stroke:  darkcyan;
  z-index: 2;
}

.graph-svg-line[highlight] {
  stroke:  cyan;
  z-index: 3;
}
