.introduction-text {
  width:       85vw;
  max-width:   1400px;
  margin:      0 auto 3em;
  color:       #dddddd;
  text-align:  left;
  line-height: 1.4;
}

.introduction-text a {
  color: lightblue;
}

@media (pointer: fine) {
  .introduction-text a:hover {
    color: lightsteelblue;
  }
}

.introduction-dropdown {
  text-align: center;
}

.introduction-dropdown > div {
  display:     inline-block;
  font-size:   larger;
  user-select: none;
  cursor:      pointer;
}

@media (pointer: fine) {
  .introduction-dropdown > div:hover {
    color: lightsteelblue;
  }
}

.introduction-hr {
  height:           2px;
  background-image: linear-gradient(to right, rgba(63, 63, 63, 0), rgba(63, 63, 63, 0.7), rgba(63, 63, 63, 0));
}
