.graph {
  position:       relative;
  padding-top:    0.5em;
  padding-bottom: 40vh;
  color:          #dddddd;
}

.section-vertical {
  display:        flex;
  flex-direction: column;
}

.section-vertical > :not(.section-day-descriptor) {
  margin: 0 auto;
}

.section-vertical > :not(.section-day-descriptor) ~ * {
  margin-top: 1em;
}

.section-horizontal {
  display:         flex;
  flex-wrap:       nowrap;

  justify-content: left;
}

.section-vertical > .section-horizontal:not(:first-child) {
  margin-top: 0.5em;
}

.section-day {
  max-width: calc(80vw - 1em);
  padding:   0.5em 0.5em 1em;
}

.section-day > .section-horizontal {
  margin: 0 -0.5em;
}

.section-day[route=プ] {
  background-color: rgba(34, 34, 51, 0.2);
  box-shadow:       0 0 0.25em 0 #000000, 0 0 0.5em 0.25em rgba(63, 63, 255, 0.5);
}

.section-day[route=セ] {
  background-color: rgba(51, 51, 34, 0.2);
  box-shadow:       0 0 0.25em 0 #000000, 0 0 0.5em 0.25em rgba(255, 255, 0, 0.5);
}

.section-day[route=凛] {
  background-color: rgba(51, 34, 34, 0.2);
  box-shadow:       0 0 0.25em 0 #000000, 0 0 0.5em 0.25em rgba(191, 0, 0, 0.5);
}

.section-day[route=桜] {
  background-color: rgba(51, 34, 51, 0.2);
  box-shadow:       0 0 0.25em 0 #000000, 0 0 0.5em 0.25em rgba(191, 0, 191, 0.5);
}


.graph > .section-vertical {
  margin-bottom: 0.5em;
}

.graph > .section-horizontal {
  justify-content: flex-start;

  overflow:        hidden;
  padding:         0.5em 0 0.5em 50%;
}

.graph > .section-horizontal > .section-vertical {
  flex-shrink: 0;
}

.graph > .section-horizontal > .section-vertical:not(:first-child) {
  margin-left: 1em;
}

.section-day.section-vertical {
  align-self: flex-end;
}

.section-day .section-horizontal {
  flex-wrap:       wrap;
  justify-content: center;
}

.section-day-descriptor {
  font-size:     larger;
  margin-bottom: 0.5em;
  margin-left:   0.25em;
  opacity:       0.9;
}
